
.overlay {
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  .card img {
    height: 250px;
    object-fit: cover;
  }
  .fa-trash-can{
    font-size: 20px;
  }
.icon-container{
  transition: all 0.3s ease-in-out;
}
  .icon-container:hover{
    background-color: #f1f1f1;  
    color: red;
    border-color: red !important;
  }
  /* .swiper-slide{
    cursor: pointer;
  } */